.workspace-icon-button {
    -st-icon-style: symbolic;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.workspace-icon-button StIcon {
    icon-size: 16px;
}

.paperwm-selection {
    /* matches border radius of default gnome windows */
    border-radius: 12px 12px 0px 0px;
}

.paperwm-minimap-selection {
    border-radius: 8px;
}
